@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --primary: #7ddc77;
    --on-primary: #003908;

    --primary-container: #005310;
    --on-primary-container: #98f990;

    --secondary: #79da9f;
    --on-secondary: #00391f;

    --secondary-container: #00522f;
    --on-secondary-container: #00522f;

    --tertiary: #a0cfd4;
    --on-tertiary: #00363b;

    --tertiary-container: #1e4d52;
    --on-tertiary-container: #bcebf0;

    --error: #ffb4ab;
    --on-error: #690005;

    --error-container: #93000a;
    --on-error-container: #ffdad6;

    --background: #1a1c19;
    --on-background: #e2e3dd;

    --surface: #1a1c19;
    --on-surface: #e2e3dd;

    --outline: #8c9388;

    --surface-variant: #424940;
    --on-surface-variant: #c2c8bd;
}

* {
    font-family: "Roboto", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 300;
}

body {
    background-color: var(--background);

    color: var(--on-background);

    margin: 0;
}

.header {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    background-color: var(--primary-container);

    color: var(--on-primary-container);

    height: 10vh;
    width: 100vw;
}

.material-symbols-rounded {
    border-radius: 5px;

    padding: 1%;

    user-select: none;
}

.material-symbols-rounded:hover:not(.decorative), .material-symbols-rounded:focus:not(.decorative) {
    background-color: var(--primary);

    color: var(--on-primary);

    cursor: pointer;

    transition: 0.25s ease;
}

.material-symbols-rounded:focus:not(.decorative) {
    outline: none;
}

.response {
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 1%;
    justify-content: center;

    margin-top: 2.5vh;
    margin-bottom: 2.5vh;

    width: 100vw;
    height: 75vh;
}

.response-images {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

    background-color: var(--surface-variant);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;

    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;

    color: var(--on-surface-variant);

    width: 50%;
    height: 100%;
}

.response-images img {
    max-width: 100%;
    max-height: 100%;
}

.response-text {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    background-color: var(--surface-variant);

    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;

    color: var(--on-surface-variant);

    width: 75%;
    height: 100%;
}

.response-text p {
    margin-left: 5vw;
    margin-right: 5vw;
}

.response-text .material-symbols-rounded, .response-images .material-symbols-rounded {
    font-size: 5rem;
}

/* Material Design Outlined Text Field */
/* https://codepen.io/asatraitis/pen/VwZQzBr */
/* Massive thanks to https://codepen.io/asatraitis */

.container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1%;
}
  
.material-textfield {
    position: relative; 
}

label {
    position: absolute;
    font-size: 1rem;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    background-color: var(--surface);
    color: var(--on-surface);
    padding: 0 0.3rem;
    margin: 0 0.5rem;
    transition: .1s ease-out;
    transform-origin: left top;
    pointer-events: none;
}

input {
    background-color: var(--surface);

    font-size: 1rem;
    outline: none;
    border: 1px solid var(--outline);
    border-radius: 5px;  
    padding: 1rem 0.7rem;
    color: var(--on-surface);
    transition: 0.1s ease-out;

    width: 25vw;
}

input:focus {
    border-color: var(--primary);
}

input:focus + label {
    color: var(--primary);
    top: 0;
    transform: translateY(-50%) scale(.9);
}

  input:not(:placeholder-shown) + label {
    top: 0;
    transform: translateY(-50%) scale(.9);
}